<%- include("partials/header") %>
<body>
    <h1>All Blog Posts</h1>
    <% if (!locals.allPosts) { %>
        <p>No posts available.</p>
    <% } else { %>
        <ul>
            <% allPosts.forEach((post, index) => { %>
                <div class="post">
                    <li>
                        <h2><%= post.title %></h2>
                        <p><%= post.content %></p>
                        <p><em>By <%= post.author %> at <%= post.date%></em></p>
                        <form action="/delete/" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                            <input type="hidden" name="index" value="<%= index %>">
                        </form>
                        <form action="/edit/" method="POST" style="display:inline;">
                            <button type="submit">Edit</button>
                            <input type="hidden" name="index" value="<%= index %>">
                        </form>
                    </li>
                </div>
            <% }) %>
        </ul>
    <% } %>

    <form action="/" method="GET">
        <button class="submit-button" type="submit">Add new post</button>
    </form>

</body>

<%- include("partials/footer") %>